.services__list {
  display: grid;
  width: 100%;
  max-width: 1255px;
  background-color: white;
  justify-content: center;
  grid-gap: 17px 20px;
  padding: 0;
  padding: 0 35px 0 30px;
  grid-template-columns: repeat(3, 405px);
}

.services__count{
  margin: 0 0 10px 30px;
}