.popup__container {
  max-width: 800px;
  background-color: #ffffff;
  box-sizing: border-box;
  color: black;
  display: flex;
  flex-direction: column;
  position: relative;
  box-sizing: border-box;
  padding: 40px;
  border: 1px solid black;
}

.button {
  background-image: url('../../../assets/images/close-icon.svg');
  width: 20px;
  height: 20px;
  cursor: pointer;
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
}

.popup__header {
  display: flex;
  justify-content: flex-end;
}

.title {
  color: white;
}

.popup_opened {
  visibility: visible;
  opacity: 1;
}

@media screen and (max-width: 770px) {
  .popup__container {
    max-width: 75%;
    color: black;
    display: flex;
    flex-direction: column;
    position: relative;
    box-sizing: border-box;
    border-radius: 30px;
  }

  .button {
    width: 20px;
    height: 20px;
    cursor: pointer;
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
  }

  .popup__header {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    padding: 0 40px 0 40px;
  }

  .title {
    color: white;
  }
}

@media screen and (max-width: 350px) {
  .popup__container {
    max-width: 250px;
  }
}
