.service-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.image {
  margin-bottom: 16px;
}
.service-popup__image {
  width: 90px;
  height: 90px;
  margin-right: 5px;
  border-radius: 20px;
}
.service-popup__image_type_avatar {
  border-radius: 50%;
  margin-right: 30px;
}
.service-popup__header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.service-popup__person {
  display: flex;
}

.service-popup__person-contacts{
  align-self: center;
}
.paragraph {
  margin: 0;
  font-size: 14px;
}
.paragraph_service_about {
  margin-bottom: 20px;
  text-align: center;
}
.paragraph_service_category {
  margin-bottom: 10px;
}
.paragraph_service_person{
  margin-bottom: 10px;
  font-size: 16px;
}
.title {
  margin: 0;
  color: black;
  text-align: center;
}

.list {
  padding: 0;
}

.text {
  width: 90%;
  text-align: center;
  margin-bottom: 64px;
}

.button {
  max-width: 200px;
}

.info {
  display: flex;
  padding: 0;
  margin: 0;
  color: white;
  justify-content: space-evenly;
  align-items: center;
  padding-bottom: 105px;
}

.info__item {
  display: flex;
  flex-direction: column;
  text-align: center;
}

@media screen and (max-width: 770px) {
  .ingridients {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
  }

  .image {
    margin-bottom: 16px;
  }

  .title {
    margin-bottom: 25px;
  }

  .info {
    padding-bottom: 60px;
  }

  .info__item {
    margin-bottom: 5px;
  }
}
