.popup {
  display: flex;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  background-color: white;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
}

.popup_opened {
  visibility: visible;
  opacity: 0.7;
}
