.input-wrapper {
  height: 38px;
  width: 850px;
  margin-bottom: 30px;
  position: relative;
}
.input {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  padding: 0 35px 0 35px;
}

.input__icon {
  position: absolute;
  width: 30px;
  height: 30px;
  left: 5px;
  top: 8px;
}
